*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
header{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
#box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}
#box li{
    line-height: 100px;
    width: 100%;
    height: 100%;
}
.img{
    display: inline-block;
    height: 100px;
    background-image: url("pic7.jpeg");
    position: absolute;
    width: 142px;
    background-repeat: no-repeat;
    background-size: 125%;
}
