*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #fff;
}
.box{
    width:400px;
    height:500px;
    background-color: darkred;
    text-align: center;
    margin: 0 auto;
}
img{
    width:250px;
    border-radius: 50%;
}
.timer{
    margin: 0 auto;
    width: 270px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    color: white;
}
.timer li{
    float: right;
    width: 70px;
    height: 70px;
    background-color: black;
    line-height: 70px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
